.main-header{
    text-align: center;
   
    color: black;
    font-family: 'Gotu', sans-serif;
}

.background{
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 100%;
    //min-height: 100%;
    //margin-top: -15%;
    //height: 80%;


}
.part-one{
    clip-path: polygon(0 0, 100% 0, 72% 100%, 0 100%);

    //background: linear-gradient(to left,#867f7f, #dbdbe2);
   
    width: 100%;
    z-index: -1;
    .bg-img{
        width: 100%;
    }
}
.part-two{
    padding: 20% 10% 0 0;

}