.background-detail {
  display: grid;
  grid-template-columns: 5fr 5fr;
  min-height: 100%;
  //grid-template-rows: 700px;
}
.detail-part-one {
  h4,h1 {
    font-family: "Gotu", sans-serif;
    margin-bottom: 20px;
  }
  .btn-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .title {
    text-align: center;
    padding-top: 70px;
    padding-left: 20%;
    font-weight: 500;
  }
  .description {
    padding-left: 20%;
    padding-top: 70px;
    max-width: 800px;
  }
  .progress {
    line-height: 2;
    height: 100%;
    overflow: visible;
    background-color: #fff;
    font-size: 15px;
    margin-bottom: 40px;
  }
}
.detail-part-two {
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0 100%);

  .recipe-detail-img {
    width: 100%;
  }
}
