$primary: #243665;
$secondary:#8BD8BD;
$ligh-bg: rgb(214, 211, 211);



.loginInput{
    //width: 80%;
    height: 40px;
    margin-bottom: 5px;
    //border: 1px solid $primary;
    border-radius: 5px;

}
.loginBtn{
    width: 200px;
    background-color: $secondary;
    color: black;
    text-align: center;
    border-radius: 35px;
    box-shadow: none;
    height: 50px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin: 20px auto 0px auto;

   
}
button:hover{
    background-color:$primary;
    color: white;
}
.loginWindow{
    height: 450px;
    
}
::placeholder {
    padding-left: 10px;
  }

input{
    //padding-left: 10px;
}
mat-dialog-container .mat-dialog-container{
    //overflow: hidden;
   // width: 80%;
   // margin: auto;

}
.mat-dialog-title {
    text-align: center;
}
.mat-dialog-content{
    margin:0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
