<mat-card class="recipe-card">
  <img mat-card-image src="./assets/img/{{ recipe._id }}min.jpg" alt="recipe-pic" />
  <i class="fa fa-heart fa-2x like" [ngClass]="{ 'selected': isFavourite }" aria-hidden="true"
    *ngIf="userService.loggedIn()" (click)="setFavouriteRecipe($event)"></i>
  <mat-card-header>
    <mat-card-title>{{ recipe.title }}</mat-card-title>
    <div *ngIf="recipe.foodStyle" class="food-styles">
      <img *ngFor="let foodstyle of recipe.foodStyle" class="food-style" src="{{ getFoodStyle(foodstyle) }}"
        alt="foodstyle" />
    </div>
  </mat-card-header>

  <mat-card-actions>
    <a mat-raised-button color="secondary" class="details" target="_blank"
      [routerLink]="['/detail', recipe._id, 'portions', portion]" routerLinkActive="active">
      Podrobnosti
    </a>
  </mat-card-actions>
</mat-card>