$primary: #243665;
$secondary: #8bd8bd;

.recipe-list {
  display: grid;
  justify-content: space-between;
  grid-template-rows: 440px;
  padding: 0px 5% 5% 5%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2%;
  row-gap: 50px;
  padding-top: 30px;

  background-color: rgb(221, 220, 220);
}
h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Gotu", sans-serif;
}
h4 {
  font-weight: 400;
  font-family: "Gotu", sans-serif;
}
.details {
  color: black;
  margin-top: 20px;
  width: 150px;
  text-decoration: none;
}
.food-style {
  width: 40px;
  height: 40px;
}
.recipe-list-title-none {
  display: none;
}
.recipe-list-title-block {
  display: block;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
}

a {
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .recipe-list {   
    grid-template-columns: 1fr 1fr ; 
    padding: 0px 5%;
  }
}