<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">person_add</mat-icon>

    </ng-template>
    <div class="menu-display">
      <p class="side-bar-title">{{portions.title}}</p>
      <div class="slider">
        {{portions.min}}
        <mat-slider (change)="onPortionsChanged()" (click)="$event.stopPropagation();" color="primary"
          [thumbLabel]="true" [min]="portions.min" [max]="portions.max" [(ngModel)]="portions.value"></mat-slider>
        {{portions.max}}
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">alarm</mat-icon>

    </ng-template>
    <div class="menu-display">
      <p class="side-bar-title">{{time.title}}</p>
      <div class="slider">
        {{time.min}} min
        <mat-slider (change)="onTimeChanged()" (click)="$event.stopPropagation();" color="primary" [thumbLabel]="true"
          [min]="time.min" [max]="time.max" [(ngModel)]="time.value"></mat-slider>
        {{time.max}} min
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">restaurant</mat-icon>

    </ng-template>

    <div class="menu-display">
      <p class="side-bar-title">{{style.title}}</p>
      <div class="tabcontent" *ngFor="let option of style.options" (click)="$event.stopPropagation();">
        <input id="{{'fs' + option.id}}" type="checkbox" (change)="onStyleChanged(option,$event)"
          [(ngModel)]="option.checked">
        <label class="option" for="{{'fs' + option.id}}">{{option.name}}</label>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">star</mat-icon>

    </ng-template>

    <div class="menu-display">
      <p class="side-bar-title">{{difficulty.title}}</p>
      <div class="tabcontent" *ngFor="let option of difficulty.options" (click)="$event.stopPropagation();">
        <input id="{{'fs' + option.id}}" type="checkbox" (change)="onDifficultyChanged()" [(ngModel)]="option.checked">
        <label class="option" for="{{'fs' + option.id}}">{{option.name}}</label>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">fastfood</mat-icon>

    </ng-template>

    <div class="menu-display">
      <p class="side-bar-title">{{typeOfMeal.title}}</p>
      <div class="tabcontent" *ngFor="let option of typeOfMeal.options" (click)="$event.stopPropagation();">
        <input id="{{'fs' + option.id}}" type="checkbox" (change)="onTypeOfMealChanged()" [(ngModel)]="option.checked">
        <label class="option" for="{{'fs' + option.id}}">{{option.name}}</label>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>